-i https://pypi.org/simple/
click==7.1.2
configparser==5.0.2
flask-ini==0.2.1
flask-login==0.5.0
flask-sqlalchemy==2.4.1
flask-wtf==0.14.3
flask==1.1.2
greenlet==1.0.0 ; python_version >= '3'
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
passlib==1.7.2
pymysql==0.9.3
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
werkzeug==1.0.1
wtforms==2.3.3
zipp==3.4.1
