{% extends 'base.html' %}

{% block content %}
    <form name="adduser" action="" method="post">

        <div class="columns">
            <div class="column is-4"></div>

            <div class="column is-4">

                <article class="message is-dark">
                    <div class="message-body">
                        <div class="title has-text-centered">Criar E-Mail</div>
                        <hr>

                        <div class="columns">
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        {% if form.name.errors %}
                                            {% set class_name = 'input is-danger' %}
                                        {% else %}
                                            {% set class_name = 'input' %}
                                        {% endif %}

                                        {{ form.name(class_=class_name) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">

                            <div class="column is-5">
                                <div class="field">
                                    <div class="control">
                                        {% if form.username.errors %}
                                            {% set class_username = 'input is-danger' %}
                                        {% else %}
                                            {% set class_username = 'input' %}
                                        {% endif %}
                                        {{ form.username(class_=class_username) }}
                                    </div>
                                </div>
                            </div>

                            <div class="column is-7">
                                <div class="filed">
                                    <div class="control">
                                        {% if form.domain.errors %}
                                            {% set class_domain = 'select is-fullwidth is-danger' %}
                                        {% else %}
                                            {% set class_domain = 'select is-fullwidth' %}
                                        {% endif %}
                                        <div class="{{ class_domain }}">
                                            {{ form.domain }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-5">
                                <div class="field">
                                    <div class="control">
                                        {% if form.quota.errors %}
                                            {% set class_quota = 'input is-danger' %}
                                        {% else %}
                                            {% set class_quota = 'input' %}
                                        {% endif %}
                                        {{ form.quota(class_=class_quota) }}
                                    </div>
                                </div>
                            </div>

                            <div class="column is-7">
                                <div class="field">
                                    <div class="control">
                                        {% if form.password.errors %}
                                            {% set class_password = 'input is-danger' %}
                                        {% else %}
                                            {% set class_password = 'input' %}
                                        {% endif %}
                                        {{ form.password(class_=class_password) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                    {% for class, message in messages %}
                                    <div class="{{ class }}">
                                        <button type="button" class="delete"></button>
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <button type="submit" class="button is-info submit">
                            <i class="fa fa-plus">&nbsp;</i>
                            Salvar
                        </button>
                    </div>
                </article>
            </div>

            <div class="column is-4"></div>
        </div>
    </form>
{% endblock %}
